mqtt:
  broker: <broker-url> #eg:"tcp://broker.emqx.io:1883"
  clientId: <client-id>

#spring.data.mongodb:
#  uri: <mongodb-uri>
#  database: <database-name>

spring.data.mongodb:
#  host: "127.0.0.1"            # Not Working in docker
#  host: "0.0.0.0"              # For docker container
  host: <mongodb host>          #eg: "host.docker.internal"  # For docker container
  port: <mongodb port>          # default 27017
  database: <mongodb database name>

# Socket.IO server configuration
socketio.server:
#  host: "localhost"            # Not Working in docker
  host:  <host-url>             # default:"0.0.0.0" # For Docker container
  port: <socket-server port>    # default 9092